body {
  background-color: #a3d5d3;
  text-align: center;
}

h1 {
  text-align: center;
  color: blue;
}

h2 {
  text-align: center;
  color: write;
}

form {
  text-align: center;
}

input.btn {
  text-align: center;
}
